Repository JUNIgroup/app.recipebook: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint, prettier --list-different

.lintstagedrc:

{
  "*.ts": "eslint --cache",
  "*.tsx": "eslint --cache",
  "*.css": "stylelint",
  "*.scss": "stylelint",
  "*": "prettier --list-different"
}

feat: extend thunks builder to async use database for operation
  src/business/recipe-books/store/builder/thunks.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
Due: eslint --cache, prettier --list-different

feat: update Database.getDocs to return docs in batches
  src/business/recipe-books/database/database.ts
  src/business/recipe-books/database/firestore/firestore-database.spec.ts
  src/business/recipe-books/database/firestore/firestore-database.ts
  src/business/recipe-books/database/firestore/firestore-mock-service.ts
  src/business/recipe-books/database/firestore/firestore-service.api.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/infrastructure/firestore/firestore-rest-service.spec.ts
  src/infrastructure/firestore/firestore-rest-service.ts
Due: eslint --cache, prettier --list-different

feat: delete entities by extend with __deleted=true
  src/business/recipe-books/database/database-types.ts
  src/business/recipe-books/database/database.ts
  src/business/recipe-books/database/firestore/firestore-database.spec.ts
  src/business/recipe-books/database/firestore/firestore-database.ts
  src/business/recipe-books/database/firestore/firestore-mock-service.ts
  src/business/recipe-books/database/firestore/firestore-service.api.ts
  src/business/recipe-books/database/validation/validating-database.spec.ts
  src/business/recipe-books/database/validation/validating-database.ts
  src/business/recipe-books/store/builder/slice.spec.ts
  src/business/recipe-books/store/builder/slice.ts
  src/business/recipe-books/store/builder/slice.types.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
  src/infrastructure/firestore/firestore-rest-service.spec.ts
  src/infrastructure/firestore/firestore-rest-service.ts
  src/presentation/recipes/fire/book-selector.tsx
  src/presentation/recipes/fire/recipe-item.tsx
Due: eslint --cache, prettier --list-different

refactor: reduce thunk action builder to 'push'
  src/business/recipe-books/store/builder/prepare.spec.ts
  src/business/recipe-books/store/builder/prepare.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
Due: eslint --cache, prettier --list-different

feat: extend thunks to support lastUpdate time stamp for refresh
  src/business/recipe-books/store/builder/slice.spec.ts
  src/business/recipe-books/store/builder/slice.ts
  src/business/recipe-books/store/builder/slice.types.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/business/recipe-books/store/builder/types.ts
  src/business/recipe-books/store/recipe-books.selectors.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
Due: eslint --cache, prettier --list-different

test: add test for thunks builder and created thunk actions
  src/business/recipe-books/store/builder/thunks.spec.ts
  src/business/recipe-books/store/builder/thunks.ts
Due: eslint --cache, prettier --list-different

feat: implement IdbCacheDatabase
  src/business/recipe-books/database/idb-cache/idb-cache-database.ts
  src/business/recipe-books/database/idb-cache/idb-cache-datanbase.spec.ts
  src/business/recipe-books/database/idb-cache/utils.spec.ts
  src/business/recipe-books/database/idb-cache/utils.ts
  src/main.tsx
Due: eslint --cache, prettier --list-different

feat: extend database to use a unique operation code for the complete operation
  src/business/recipe-books/database/database.ts
  src/business/recipe-books/database/firestore/firestore-database.spec.ts
  src/business/recipe-books/database/firestore/firestore-database.ts
  src/business/recipe-books/database/firestore/firestore-mock-service.ts
  src/business/recipe-books/database/firestore/firestore-service.api.ts
  src/business/recipe-books/database/idb-cache/idb-cache-database.ts
  src/business/recipe-books/database/idb-cache/idb-cache-datanbase.spec.ts
  src/business/recipe-books/database/validation/validating-database.spec.ts
  src/business/recipe-books/database/validation/validating-database.ts
  src/business/recipe-books/store/builder/builder.samples.ts
  src/business/recipe-books/store/builder/thunks.spec.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/infrastructure/firestore/firestore-rest-service.spec.ts
  src/infrastructure/firestore/firestore-rest-service.ts
Due: eslint --cache, prettier --list-different

refactor: fix globalThis usage for testing
  src/business/recipe-books/database/idb-cache/idb-cache-database.ts
  src/business/recipe-books/database/idb-cache/idb-cache-datanbase.spec.ts
  src/business/recipe-books/database/idb-cache/utils.spec.ts
  src/business/recipe-books/database/idb-cache/utils.ts
  src/infrastructure/firebase/helpers/data-request.spec.ts
  src/infrastructure/firebase/rest-auth-service.spec.ts
Due: eslint --cache, prettier --list-different

feat: getDocs does not fail on network errors
  src/infrastructure/firestore/firestore-network-error.spec.ts
  src/infrastructure/firestore/firestore-network-error.ts
  src/infrastructure/firestore/firestore-rest-error.spec.ts
  src/infrastructure/firestore/firestore-rest-error.ts
  src/infrastructure/firestore/firestore-rest-service.ts
Due: eslint --cache, prettier --list-different

test: include 10ms security margin in firestore time range
  src/business/recipe-books/database/firestore/firestore-database.spec.ts
  src/infrastructure/firestore/firestore-rest-service.spec.ts
  src/utilities/firebase/firestore.test-helper.ts
Due: eslint --cache, prettier --list-different

feat: add test against some sample firestore rules
  .gitignore
  firebase.json
  firestore.rules
  package-lock.json
  package.json
  src/infrastructure/firestore-rules/general-rules.spec.ts
  src/infrastructure/firestore-rules/rules.test-helper.ts
Due: eslint --cache, prettier --list-different

feat: write roles for bucket and collection documents
  firestore.rules
  src/infrastructure/firestore-rules/general-rules.spec.ts
  src/infrastructure/firestore-rules/rules.test-helper.ts
Due: eslint --cache, prettier --list-different

chore: kill ports before (re-)start emulator
  firebase.json
  package-lock.json
  package.json
Due: prettier --list-different

chore: start test:ui without open new browser
  package.json
Due: prettier --list-different

refactor: rename to match pattern *.test-helper.*
  src/utilities/logger/console-colors.spec.ts
  src/utilities/logger/console-colors.test-helper.ts
Due: eslint --cache, prettier --list-different

refactor: remove unused example.test.ts
  src/example.test.ts
Due: eslint --cache, prettier --list-different

refactor: remove unused demo component (original from react skeleton)
  src/assets/react.svg
  src/presentation/demo.scss
  src/presentation/demo.tsx
Due: eslint --cache, stylelint, prettier --list-different

refactor: remove unused FirebaseAuthService
  src/business/auth/service/auth-service.spec.ts
  src/business/auth/service/firebase-auth-helper.ts
  src/business/auth/service/firebase-auth-service.ts
  src/infrastructure/firebase/firebase-service.ts
  src/presentation/auth/auth.scss
Due: eslint --cache, stylelint, prettier --list-different

refactor: remove unused ErrorPage component
  src/presentation/route/error-page.tsx
Due: eslint --cache, prettier --list-different

refactor: remove support for recipe store with RDB service
  src/business/app.store.ts
  src/business/db/index.ts
  src/business/db/store/db.errors.spec.ts
  src/business/db/store/db.errors.ts
  src/business/db/store/db.metadata.spec.ts
  src/business/db/store/db.metadata.ts
  src/business/db/store/db.selectors.ts
  src/business/db/store/db.slice.ts
  src/business/db/store/db.thunks.ts
  src/business/db/store/db.types.ts
  src/business/helper/redux/redux-selector-helper.spec.ts
  src/business/helper/redux/redux-selector-helper.ts
  src/business/recipes/index.ts
  src/business/recipes/store/recipe.selectors.spec.ts
  src/business/recipes/store/recipe.selectors.ts
  src/business/recipes/store/recipe.slice.spec.ts
  src/business/recipes/store/recipe.slice.ts
  src/business/recipes/store/recipe.thunks.ts
  src/infrastructure/database/abort-error.spec.ts
  src/infrastructure/database/abort-error.ts
  src/infrastructure/database/idb/idb.service.spec.ts
  src/infrastructure/database/idb/idb.service.ts
  src/infrastructure/database/idb/idb.transactions.spec.ts
  src/infrastructure/database/idb/idb.transactions.ts
  src/infrastructure/database/idb/idb.upgrades.ts
  src/infrastructure/database/mock-rdb/mock-rdb.service.spec.ts
  src/infrastructure/database/mock-rdb/mock-rdb.service.ts
  src/infrastructure/database/mock-rdb/mock-rdb.transitions.ts
  src/infrastructure/database/rdb.service.spec.ts
  src/infrastructure/database/rdb.service.ts
  src/main.tsx
  src/presentation/app.spec.tsx
  src/presentation/app.tsx
  src/presentation/recipes/local/local-recipes.tsx
  src/presentation/recipes/local/recipe-item.tsx
  src/presentation/recipes/recipes.tsx
Due: eslint --cache, prettier --list-different

refactor: move collectFrom into src/utilities/rx/rx.test-helper.ts
  src/business/recipe-books/database/firestore/firestore-database.spec.ts
  src/business/recipe-books/database/idb-cache/idb-cache-datanbase.spec.ts
  src/business/recipe-books/database/idb-cache/utils.spec.ts
  src/business/recipe-books/database/validation/validating-database.spec.ts
  src/infrastructure/firestore/firestore-rest-service.spec.ts
  src/utilities/rx/rx.test-helper.ts
Due: eslint --cache, prettier --list-different

chore: move rules coverage report into analyze folder
  src/infrastructure/firestore-rules/rules.test-helper.ts
  vite.config.ts
Due: eslint --cache, prettier --list-different

chore: add analyzer for dead files and bundle size
  package-lock.json
  package.json
Due: prettier --list-different

refactor: move database into top level under business
  src/business/app.store.ts
  src/business/database/database-types.ts
  src/business/database/database.ts
  src/business/database/firestore/firestore-database.spec.ts
  src/business/database/firestore/firestore-database.ts
  src/business/database/firestore/firestore-mock-service.ts
  src/business/database/firestore/firestore-service.api.ts
  src/business/database/idb-cache/idb-cache-database.ts
  src/business/database/idb-cache/idb-cache-datanbase.spec.ts
  src/business/database/idb-cache/utils.spec.ts
  src/business/database/idb-cache/utils.ts
  src/business/database/validation/schema.spec.ts
  src/business/database/validation/schema.test-helper.spec.ts
  src/business/database/validation/schema.test-helper.ts
  src/business/database/validation/schema.ts
  src/business/database/validation/validating-database.spec.ts
  src/business/database/validation/validating-database.ts
  src/business/database/validation/validator.spec.ts
  src/business/database/validation/validator.ts
  src/business/recipe-books/store/builder/builder.samples.ts
  src/business/recipe-books/store/builder/prepare.ts
  src/business/recipe-books/store/builder/selectors.ts
  src/business/recipe-books/store/builder/slice.ts
  src/business/recipe-books/store/builder/slice.types.ts
  src/business/recipe-books/store/builder/thunks.spec.ts
  src/business/recipe-books/store/builder/thunks.ts
  src/business/recipe-books/store/builder/types.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
  src/infrastructure/firestore/convert-from.ts
  src/infrastructure/firestore/firestore-rest-factory.ts
  src/infrastructure/firestore/firestore-rest-service.ts
  src/main.tsx
  src/presentation/app.spec.tsx
Due: eslint --cache, prettier --list-different

refactor: move builder for data store into top level package under business
  src/business/data-store.builder/builder.samples.ts
  src/business/data-store.builder/orders.spec.ts
  src/business/data-store.builder/orders.ts
  src/business/data-store.builder/prepare.spec.ts
  src/business/data-store.builder/prepare.ts
  src/business/data-store.builder/selectors.spec.ts
  src/business/data-store.builder/selectors.ts
  src/business/data-store.builder/slice.spec.ts
  src/business/data-store.builder/slice.ts
  src/business/data-store.builder/slice.types.ts
  src/business/data-store.builder/thunks.spec.ts
  src/business/data-store.builder/thunks.ts
  src/business/data-store.builder/types.ts
  src/business/recipe-books/store/recipe-books.selectors.ts
  src/business/recipe-books/store/recipe-books.slice.ts
  src/business/recipe-books/store/recipe-books.thunks.ts
Due: eslint --cache, prettier --list-different

feat: add logos for application
  public/logo-details.svg
  public/logo-simple.svg
Due: prettier --list-different

feat: add favicon in multiple resolution
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: prettier --list-different

feat: design splash screen with logo and title
  .stylelintrc
  index.html
  src/index.scss
Due: stylelint, prettier --list-different

chore: additional configuration for CSS/SCSS
  .prettierignore
  .stylelintrc
  .vscode/settings.json
  vite.config.ts
Due: eslint --cache, prettier --list-different

feat: include Rubik font for app title
  index.html
  src/assets/fonts/rubik/OFL.txt
  src/assets/fonts/rubik/rubik-app-title.scss
  src/assets/fonts/rubik/rubik-app-title.woff2
  src/index.scss
Due: stylelint, prettier --list-different

feat: replace splash screen with landing page if react and initial data are loaded
  index.html
  src/index.scss
  src/presentation/app-routes.tsx
  src/presentation/app.tsx
  src/presentation/landing/landing-page.tsx
Due: eslint --cache, stylelint, prettier --list-different

feat: splash to landing page transformation with scroll effects
  index.html
  src/assets/images/account.svg
  src/index.scss
  src/presentation/app-routes.tsx
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
  src/presentation/landing/scrolling.ts
  src/theme.scss
Due: eslint --cache, stylelint, prettier --list-different

feat: improve animation of element from splash and login buttons
  package-lock.json
  package.json
  src/assets/fonts/open-sans/open-sans-variable.scss
  src/main.scss
  src/main.tsx
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
  src/presentation/landing/scrolling.ts
Due: eslint --cache, stylelint, prettier --list-different

refactor: declare border-box sizing as default
  src/index.scss
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
Due: eslint --cache, stylelint, prettier --list-different

feat: disable over scroll in mobile browser
  src/index.scss
Due: stylelint, prettier --list-different

improve scrolling animation by using translation and scale
  index.html
  src/assets/assets.md
  src/assets/images/account.svg
  src/assets/images/sign-in.svg
  src/assets/images/sign-up.svg
  src/index.scss
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
  src/presentation/landing/scrolling.ts
  src/theme.scss
Due: eslint --cache, stylelint, prettier --list-different

improve animation path of icon, title and login actions
  src/assets/images/sign-up.svg
  src/index.scss
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
  src/presentation/landing/scrolling.ts
Due: eslint --cache, stylelint, prettier --list-different

chore: use prettier for formating SCSS and style lint for content linting
  .prettierignore
  .stylelintrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/fonts/rubik/rubik-app-title.scss
  src/index.scss
  src/presentation/landing/landing-page.scss
  src/theme.scss
Due: stylelint, prettier --list-different

feat: complete 2nd till 4th section of landing page
  .stylelintrc
  src/assets/images/sign-up.svg
  src/presentation/app.spec.tsx
  src/presentation/landing/landing-page.scss
  src/presentation/landing/landing-page.tsx
  src/presentation/landing/scrolling.ts
  src/theme.scss
Due: eslint --cache, stylelint, prettier --list-different
